@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@300;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

body {
  background-color: #151718;
}
/* 
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif !important;
}
*/
h1 {
  font-size: 4rem !important;
  /* text-align: center; */
  font-weight: 700;
}

.badge {
  border-radius: 2rem;
}

.main {
  /* background-color: red; */
}

.secondary-btn {
  box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset,
    rgba(0, 0, 0, 0.08) 0px 1px 2px 0px, rgba(0, 0, 0, 0.06) 0px 4px 8px 0px;
  background: transparent;
}

.hero-text {
  color: white;
}

.highlight-gradient {
  color: linear-gradient(270deg, rgb(110, 86, 207) 0%, rgb(249, 209, 255) 100%);
  /* background-clip: text; */
}
